.product{

  padding-bottom: 100px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content{
    max-width: 486px;
  }

  &__pre-title{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 3px;
    color: $grey;
  }

  &__title{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 22px;
  }

  &__desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px;
    color: $grey;
  }

  &__item{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px;
    max-width: 436px;
    padding-left: 66px;
    position: relative;

    &:before{
      position: absolute;
      content: '';
      width: 35px;
      height: 35px;
      background-image: url("../../../../src/img/checkmark.svg");
      left: 0;
    }
  }
}