*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
  width: 100%;
  max-width: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $black;
  width: 100%;
  max-width: 100%;
}

.container{
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}